@using ECommerce.Client.Shared
@inherits LayoutComponentBase

<div class="main-layout">
    <NavMenu /> @* <--- here's your menu *@
    
    <main>
        @Body @* <- this is where the page (Index, Products, etc) gets rendered *@
    </main>
</div>

<style>
.main-layout {
    display: flex;
}
main {
    flex-grow: 1;
    padding: 1rem;
}
</style>
